.wrapper{
    height: 500px;
    background-color: var(--black);
    position: relative;
}

.form{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    background-color: var(--white);
    background-color: rgba(99, 99, 99, 0.7);
    box-shadow: 2px 2px 2px black;
}
.header{
    padding: 15px 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px dashed black;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body{ 
    flex: 1;
    padding:18px 10px;
}
.wrapper-input{
    display: flex;
    flex-direction: column;
    margin: 0 10px;

}
.form-group{
    position: relative;
    display: flex;
}
.label{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    font-weight: 700;
    width: 150px;
    align-items: center;
}
.input{
    outline: none;
    width: 90%;
    padding: 0 6px;
    border-radius: 10px;
    border-color: transparent;
    height: 30px;
    box-shadow: none;
}
.eye{
    position: absolute;
    top: 7px;
    right: 13px;
    cursor: pointer;
}
.wrapper-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.btn{
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    height: 50px;
    width: 95%;
    margin:20px 10px;
    box-shadow: 1px 1px 1px black ;
    &:hover{
        background-color: rgba(197, 249, 253, 0.7);
    }
}

.footer{
    border-top: 2px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 258x;
    padding: 0 0 15px 0;

    span{
        padding: 0 5px;
    }
    a{
        &:hover{
            opacity: 0.7;
        }
    }
}